/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f8f8f8;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background:#1a7d30;
    color: white;
}

.menu a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* BANNER */
.banner {
    width: 100%;
    height: 280px;
    position: relative;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 30%;
    left: 10%;
    color: black;
    text-shadow: 0 0 5px black;
}

.banner-text h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.section-title {
    margin: 25px 0 10px 25px;
    font-size: 24px;
    color: #333;
}

/* CARD LIST */
.promo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    padding: 25px;
}

.promo-card {
    background: #fff;
    border-radius: 10px;
    padding-bottom: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.promo-card:hover {
    transform: translateY(-5px);
}

.promo-card img {
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.promo-card h3 {
    margin: 10px;
    font-size: 18px;
}

.time {
    margin: 0 10px;
    color: #777;
}

.discount {
    margin: 10px;
    font-weight: bold;
    color: #1a7d30;
    font-size: 20px;
}

.btn-book {
    width: 90%;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border: none;
    background: #1a7d30;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.btn-book:hover {
    background: #1a7d30;
}
